.App {
  display: flex;
  justify-content: center;
}

.sign-in-container.MuiPaper-root {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: flex-start;
  height: 90%;
}

.form-input.MuiBox-root {
  margin-bottom: 1em;
}

.category-input.MuiTextField-root .MuiInputBase-input {
  height: 10px;
}

.todo-input.MuiTextField-root .MuiInputBase-input {
  width: 400px;
}